test/workflows/test-text-mt.workflow.json
{
  "name": "[Test] Smartling - Text MT",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup\n1. Assign your **Smartling API** credential to the Smartling node\n2. Edit the **Config** node to set:\n   - `targetLocale` — target language (default: fr-FR)\n   - `sourceText` — text to translate (one string per line, max 10)\n3. Click **Test Workflow** to run"
      },
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, -200]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "cfg-targetLocale",
              "name": "targetLocale",
              "value": "fr-FR",
              "type": "string"
            },
            {
              "id": "cfg-sourceText",
              "name": "sourceText",
              "value": "The quick brown fox jumps over the lazy dog.\nSmartling provides enterprise translation management.\nThis is a test of the machine translation API.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-1",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "resource": "machineTranslation",
        "operation": "translateText",
        "sourceLocale": "",
        "targetLocale": "={{ $('Config').item.json.targetLocale }}",
        "sourceText": "={{ $('Config').item.json.sourceText }}"
      },
      "id": "smartling-1",
      "name": "Smartling",
      "type": "n8n-nodes-smartling.smartling",
      "typeVersion": 1,
      "position": [440, 0],
      "credentials": {
        "smartlingApi": {
          "id": "",
          "name": "Smartling API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Smartling", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": false
}
